In [2]:
import pandas as pd

In [9]:
FILE = "/home/egwebber/ML-Programing-Assignments/PA-02/Data/cs-training.csv"

In [10]:
df = pd.read_csv(FILE)

In [11]:
missing = [6,11]
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120,13,0,6,0,2
1,2,0,0.957151,40,0,0.121876,2600,4,0,0,0,1
2,3,0,0.658180,38,1,0.085113,3042,2,1,0,0,0
3,4,0,0.233810,30,0,0.036050,3300,5,0,0,0,0
4,5,0,0.907239,49,1,0.024926,63588,7,0,1,0,0

In [12]:
m = df['MonthlyIncome'].mean()

In [13]:
n = df['NumberOfDependents'].mean()

In [15]:
m

6670.2212373928442

In [21]:
for i in range(df.shape[1]):
    if df.iloc[i].isnull().values.any():
        m = df.iloc[i].mean()
        df.iloc[i] = df.iloc[i].fillna(m)

In [23]:
df['SeriousDlqin2yrs']

0         1
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        1
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        1
22        0
23        0
24        0
25        1
26        0
27        0
28        0
29        0
         ..
149970    0
149971    0
149972    0
149973    0
149974    0
149975    0
149976    0
149977    0
149978    0
149979    1
149980    0
149981    0
149982    0
149983    0
149984    0
149985    0
149986    0
149987    0
149988    0
149989    0
149990    0
149991    0
149992    0
149993    0
149994    0
149995    0
149996    0
149997    0
149998    0
149999    0
Name: SeriousDlqin2yrs, dtype: float64